$baseFontSize: 18px;
$tablets: 768px;
$phones: 480px;

@import url("./layout/normalize.css");

@import "media";
@import "base";

@import "blocks/benefit";
@import "blocks/benefits";
@import "blocks/btn";
@import "blocks/contact-phone";
@import "blocks/errow";
@import "blocks/feature";
@import "blocks/features";
@import "blocks/fixed-menu";
@import "blocks/form";
@import "blocks/header";
@import "blocks/headline";
@import "blocks/hero";
@import "blocks/interactive-avatar";
@import "blocks/logo";
@import "blocks/menu";
@import "blocks/order";
@import "blocks/slider";
@import "blocks/radio";
@import "blocks/reviews";
@import "blocks/section";
@import "blocks/footer";
@import "blocks/contacts";
@import "blocks/map-section";
@import "blocks/hamburger";
@import "blocks/social";
@import "blocks/overlay.scss";
@import "blocks/dropdown.scss";
@import "blocks/team-members.scss";