.benefit {
  text-align: center;
}

.benefit__image {
  margin-bottom: 30px;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 126px;
  height: 126px;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.benefit__icon {
  width: 75px;
  height: 69px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  font-weight: bold;
  font-size: 27px;
  line-height: 32px;
  margin-bottom: 18px;
  text-align: center;
  color: black;
}

.benefit__desc {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #666666;
  text-align: center;
}