.contact-phone {
  font-style: normal;
  display: flex;
  align-items: center;
  font-size: rem(22px);
  text-decoration: none;
  color: #fff;

  @include phones() {
    text-align: center;
    font-size: rem(21px);
  }
}

.contact-phone--green {
  color: #497870;
}

.contact-phone__icon {
  flex-shrink: 0;
}

.contact-phone__image {
  width: rem(14px);
  height: rem(14px);
  margin-right: rem(6px);
  fill: white;

}

.contact-phone__image--green {
  fill: #497870;
}

.contact-phone__text {
  white-space: nowrap;
}