.features {
  display: flex;
}

.features__item {
  margin-right: 44px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature__icon {
  width: 45px;
  margin-right: 7px;
}

.feature__text {
  font-size: 16px;
  max-width: 85px;
}

.features1 {
  padding: 100px 80px;
  background: url(../../images/pictures/raspberry.png) left bottom -27% no-repeat, url(../../images/bg/bg-leaf2.png) left bottom 54% no-repeat;
  display: block;
  z-index: 1;
}

.features__heading1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__title1 {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: bold;
  color: #292929;
  margin-bottom: 19px;
}

.features__text1 {
  font-size: 18px;
  line-height: 22px;
  color: #666666;
  max-width: 436px;
  margin-bottom: 49px;
  text-align: center;
}

.features__list1 {
  display: flex;
  justify-content: space-between;
}

.features__item1 {
  width: calc(100%/3 - 64px);
  margin-bottom: 24px;
}

.feature__image1 {
  width: 128px;
  height: 128px;
  background: #F2F5F4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
}

.feature__title1 {
  font-weight: bold;
  font-size: 27px;
  line-height: 32px;
  margin-bottom: 18px;
  text-align: center;
  color: #292929;
}

.feature__desc1 {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #666666;
  text-align: center;
}