.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 5px;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: white;
}

.fixed-menu__link {
  position: relative;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  border: 1px transparent solid;
  display: block;
}
.fixed-menu__link::before {
  content: "";
  background-color: white;
  border-radius: 50%;
  display: block;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}