.menu {
  margin-right: 5%;
  font-size: rem(18px);
  padding-top: rem(5px);

  @include tablets() {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.menu__item {
  margin-right: rem(27px);
  margin-bottom: rem(10px);

  &:last-child {
    margin-right: 0;
  }
}

