.order-section {
  background:  url("../images/bg/bg-form.jpg") center center no-repeat;
  background-size: cover;
  position: relative;

  &::after {
    content: url("../images/bg/leaf2.png");
    position: absolute;
    right: rem(10px);
    bottom:rem(58px);

    @include tablets() {
      display: none;
    }
  }

  &::before {
    content: url("../images/bg/berry.svg");
    position: absolute;
    left: rem(51px);
    bottom:rem(69px);
    display: block;

    @include tablets() {
      display: none;
    }
  }
}