$black29:#292929;
$black15:#151515;

.products__container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: rem(60px);
}

.products__list {
  width: 80%;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__image {
  margin-right: rem(73px);
  width: rem(460px);
}

.product__ingredients {
  background: #86C3D7;
  border-radius: rem(4px);
  width: rem(91px);
  height: rem(91px);
  padding: rem(12px) rem(22px);
  margin-bottom: rem(23px);
}

.product__ingredients-icon {
  margin-bottom: rem(4px);
}

.product__ingredients-title {
  font-size: rem(14px);
  line-height: rem(17px);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.product__name {
  font-weight: bold;
  font-size: rem(36px);
  line-height: rem(43px);
  color: $black29;
  margin-bottom: rem(23px);
}

.product__about {
  font-size: rem(18px);
  line-height: rem(22px);
  color: #666;
  margin-bottom: rem(24px);
}

.product__weight-calories {
  margin-bottom: rem(24px);
  display: flex;
  justify-content: space-between;
}

.product__what {
 @extend .product__about
}

.product__quantity {
 @extend .product__what;
 font-weight: bold;
 color: black;
}

.product__buy {
  @extend .product__weight-calories
}

.product__price {
  font-weight: 300;
  font-size: rem(60px);
  line-height: rem(60px);
  color: $black15;
}