.section {
  padding: rem(100px) rem(80px);
  display: flex;
  flex-direction: column;
  min-height: rem(682px);
  background-color: white;
}

.section__title {
  font-size: rem(30px);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: black;
  margin-bottom: rem(31px);
}

.section--font--color--green {
  color: #365A49;
}
.section--font--color--green .section__title {
  color: inherit;
}

.section__title--order {
  margin-bottom: rem(57px);
}