.slider__container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: rem(60px) rem(66px);
}

.slider__list {
  flex: 1;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__image {
  margin-right: 7%;
  width: 50%;
}

.slider__ingredients {
  background: #86C3D7;
  border-radius: rem(4px);
  width: rem(91px);
  height: rem(91px);
  padding: rem(12px) rem(22px);
  margin-bottom: rem(23px);
}

.slider__ingredients-icon {
  margin-bottom: rem(4px);
}

.slider__ingredients-title {
  font-size: rem(14px);
  line-height: rem(17px);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.slider__name {
  font-weight: bold;
  font-size: rem(36px);
  line-height: rem(43px);
  text-transform: uppercase;
  color: #292929;
  margin-bottom: rem(23px);
}

.slider__about, .slider__what, .slider__quantity {
  font-size: rem(18px);
  line-height: rem(22px);
  color: #666;
  margin-bottom: rem(24px);
}

.slider__weight-calories, .slider__buy {
  margin-bottom: rem(24px);
  display: flex;
  justify-content: space-between;
}

.slider__quantity {
  font-weight: bold;
  color: black;
}

.slider__price {
  font-weight: 300;
  font-size: rem(60px);
  line-height: rem(60px);
  color: #151515;
}