.team-section {
  background: #fff;
}

.team-members {
  width: 100%;

  @include tablets {
  padding-top: rem(10px);
  }
  
}

.team-members__list {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.team--version--desktop {
  @include tablets {
    display:none;
  }
}

.team--version--mobile {
  display: none;

  @include tablets {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.team-members__item {
  max-width: calc(100%/4 - 20px);

  @include tablets {
    max-width: rem(222px);
  }
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-member__image {
  margin-bottom: rem(21px);
}

.team-member__title {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: rem(21px);
  justify-content: center;
  color:#292929;
  margin-bottom: rem(8px);
  cursor: pointer;
  border: none;

  &:focus {
    outline: none;
  }

  @include tablets {
    margin-bottom: rem(16px);
  }

}

.team-member__name {
  margin-right: rem(4px);
}

.team-member__block {
  height: 0;
  overflow: hidden;
  transition: 0.4s;
}

.team-member__desc {
  text-align: center;
  height: rem(130px);
  
  @include tablets {
    height: rem(432px);
  }

}

.team-member__job-title {
  font-size: rem(18px);
  margin-bottom: rem(4px);
}

.team-member__job-desc {
  font-weight: 300;
  font-size: 18px;
  color: #666;
}