.benefit {
  text-align: center;

  @include phones() {
    display: flex;
  }
}

.benefit__image {
  margin-bottom: rem(30px);

  @include phones() {
    margin-bottom:0;
    margin-right: rem(12px);
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: rem(126px);
  height: rem(126px);
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  @include phones() {
    width: rem(96px);
    height: rem(96px);
  }
}

.benefit__icon {
  width: rem(75px);
  height: rem(69px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include phones() {
    width: rem(50px);
    height: rem(69px);
  }
}

.benefit__title {
  font-weight: bold;
  font-size: rem(27px);
  line-height: rem(32px);
  margin-bottom: rem(18px);
  text-align: center;
  color: black;

  @include phones() {
    text-align: left;
    margin-bottom: 0;
  }
}

.benefit__desc {
  font-weight: 300;
  font-size: rem(18px);
  line-height: rem(22px);
  color: #666666;
  text-align: center;

  @include phones() {
    text-align: left;
  }
}