.section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  @include phones() {
    padding: rem(52px) 0;
  } 
}

.section__title {
  font-size: rem(48px);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: black;
  margin-bottom: rem(31px);

  @include phones() {
    margin-bottom: rem(13px);
  }
}

.section--font--color--green {
  color: #365A49;

  .section__title {
    color: inherit;
  }
}

.section__title--order {
  margin-bottom: rem(57px);
}